*{

    margin: 0;
    padding: 0;
 
 }
 .header
 {
 
     height: 100vh;
 
 }
 .navbar-style
 {
 
     box-shadow: 0 5px 10px #efefef;
     text-transform: uppercase;
     font-family: Arial, Helvetica, sans-serif;
 
 }
 .navbar-style: :hover
 {
     color: #B20808;
 }
 .logo
 {
     height: 48px;
     padding: 2px 10px;
 }
.icon-bar 
{
   background: black;
}
li a 
{
    color: black;
}
.intro-text
{
    font-size: 52px;
    margin: 20px 0;
    color: black;
}
a.donate-button
{
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: #B20808;
  color: white;
  text-transform: uppercase;
  font: bold;
}
a.donate-button:hover
{
    background: #B20808;
    border: none;
    color: black;
    
}

