.btn
{
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    float: right;
    

}
.btn-primary.btn-lg
{
    float: right;
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-color: #B21919;

}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    padding-left: 40px;
    padding-top: 90px;
}

.btn-primary {
    color: #fff;
    background-color: #B21919;
}
.btn-primary.btn-lg:hover {
    color: #fff;
}
.navbar-light.bg-light {
    background-color: white!important; 
}
.btn-primary {
    color: #fff;
    background-color:#941313;
    border-color: #941313;
}
button.btn.btn-primary.donate {
    background-color: #941313;
}
*{
    box-sizing: border-box;
}

.nav-item.active.custom-active-tab>a.nav-link{
    color:#B21919;
    
}

img.img-fluid.nonprofit-logo {
    max-width: 100%;
    height: 50px;
}
.container-fluid {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-right {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-family: Helvetica, sans-serif;
    color: #B21919;
    font-weight: bold;
    font-size: 80px;
  }

  .vl {
    border-left: 5px solid #B21919;
    height: 620px;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 390px;
}
  .red
{
    color: #B21919;
}
.subheadline {
    font-weight: 600;
    font-size: 40px;

}
.giver-image{
    height:auto;
    width: 500px;
    float: right;
}
.subheadline2 {
    font-weight: 600;
    font-size: 40px;
    padding-top: 80px;

}
.subheadline3 {
    font-weight: 600;
    font-size: 50px;

}
@media only screen and (min-width: 375px) {
    .bottom-right { 
        color: #B21919;
        font-size: 15px;
    }
    .vl {
        border-left: 5px solid #B21919;
        height: 620px;
        position: absolute;
        margin-left: -3px;
        top: 390px;
    }
  
  
    
}
@media only screen and (min-width: 414px) {
    .bottom-right {
        color: #B21919;
        font-size: 40px;
    }
    .subheadline {
        font-weight: 600;
        font-size: 40px;
        padding-left: 30px;
    
    }
    .col-sm-4.subheadline {
        padding-left: 80px;
    }
    p {
        padding-left: 71px;
    }
    .col-3.subheadline3.red {
        text-align: left;

    }
    h5.red {
        padding-left: 70px;
    }
    .subheadline2{
        text-align: center;
    }
  
}
@media only screen and (min-width: 768px) {
    .bottom-right {
        color: #B21919;
        font-size: 80px;
    }
    .vl {
        border-left: 5px solid #B21919;
        height: 620px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 390px;
    }
    .subheadline {
        font-weight: 600;
        font-size: 40px;
        padding-left: 0px;
    
    }
    .col-sm-4.subheadline {
        padding-left: 0px;
    }
    p {
        padding-left: 0px;
    }
    .col-3.subheadline3.red {
        text-align: center;
    }
    h5.red {
        padding-left: 0px;
    }
  
    .subheadline2{
        text-align: left;
    }
  
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
.icon{
    max-width:100%;
    height:38px;
    padding-right: 8px;
}
.icont{
    max-width:100%;
    height:28px;
    padding-right: 8px;
}
.iconp{
    max-width:100%;
    height:23px;
    padding-right: 8px;
}

