.intro
{
    margin: auto;
    padding-top: 200px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px
}
.red
{
    color: #B21919;
}

.btn-primary.btn-lg
{
    float: right;
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-color: #B21919;

}

.btn-primary {
    color: #fff;
    background-color: #B21919;
}
.btn-primary.btn-lg:hover {
    color: #fff;
    background-color: #941313;
    border-color: #941313;
}
.navbar-light.bg-light {
    background-color: white!important; 
}

*{
    box-sizing: border-box;
}


.nav-item.active.custom-active-tab>a.nav-link{
    color:#B21919;
    
}

img.img-fluid.nonprofit-logo {
    max-width: 100%;
    height: 50px;
}
.headline
{
    margin: auto;
    padding-left: 170px; 
    padding-right: 170px;
    padding-top: 200px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px; 
}
.img-fluid {
    max-width: 100%;
    height: auto;
    float: right;
}
.introtext {
    font-size: 35px;
}
.maincopy {
    font-weight: normal;
    font-size: 15px;
}
.vl {
    border-left: 3px solid #B21919;
    height: 600px;
    position: absolute;
    left: 12%;
    margin-left: -3px;
    top: 700px;
}
.learnmore{
    color: #B21919;
    font-size: 20px;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    text-transform: capitalize;
}
.learnmore:hover{
    color: #941313;
}
.maincontainer{
    position: relative;
    width: 250px;
    height: 250px;
}
.thecard{
position: absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.5s ease;
}
.thecard:hover{
    transform: rotateY(180deg);
}
.thefront{
   
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background:#C3C3C3;
    color: #B21919;
    text-align: center;
    padding: 70px 0;
    display: inline-block;
    font-family:Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;

    

}
.theback{
    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333333;
    transform: rotateY(180deg);
    text-align: center;
    padding: 38px 0;
    font-size: 12px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
.icon{
    max-width:100%;
    height:38px;
    padding-right: 8px;
}
.icont{
    max-width:100%;
    height:28px;
    padding-right: 8px;
}
.iconp{
    max-width:100%;
    height:23px;
    padding-right: 8px;