.red
{
    color: #B21919;
}
.btn
{
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    float: right;
    

}
.btn-primary.btn-lg
{
    float: right;
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-color: #B21919;

}

.btn-primary {
    color: #fff;
    background-color: #B21919;
}
.btn-primary.btn-lg:hover {
    color: #fff;
    background-color: #941313;
    border-color: #941313;
}
.navbar-light.bg-light {
    background-color: white!important; 
}
*{
    box-sizing: border-box;
}

.nav-item.active.custom-active-tab>a.nav-link{
    color:#B21919;
    
}

img.img-fluid.nonprofit-logo {
    max-width: 100%;
    height: 50px; 
}
.container-fluid {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-right {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-family: Helvetica, sans-serif;
    color: #B21919;
    font-weight: bold;
    font-size: 80px;
  }

.vl {
    border-left: 5px solid #B21919;
    height: 800px;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 390px;
  }
  .headline {
    margin-left: 15%;
    margin-top: 5%;
    font-family: helvetica;
    font-weight: bold;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: 15%;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 15%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    opacity: .7;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .photos {
    margin-right: 10%;
    margin-top: 10%;
}
div.gallery {
   
    margin: 10px;
    /* border: 1px solid #ccc; */
    float: right;
    width: 700px;
    border: none;
}
div.gallery:hover {
    border: none;