.red {
    color: #B21919;
}

.btn {
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    float: right;


}

.btn-primary.btn-lg {
    float: right;
    background-color: #B21919;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    border-color: #B21919;

}

.btn-primary {
    color: #fff;
    background-color: #B21919;
}

.btn-primary.btn-lg:hover {
    color: #fff;
    background-color: #941313;
    border-color: #941313;
}

.navbar-light.bg-light {
    background-color: white !important;
}

* {
    box-sizing: border-box;
}

img.img-fluid.nonprofit-logo {
    max-width: 100%;
    height: 50px;
}

.container-fluid {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-family: Helvetica, sans-serif;
    color: #B21919;
    font-weight: bold;
    font-size: 80px;
}

.vl {
    border-left: 5px solid #B21919;
    height: 800px;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 390px;
}

.headline {
    margin-left: 15%;
    margin-top: 5%;
    font-family: helvetica;
    font-weight: bold;
}

.subheadline {
    font-weight: 600;
    font-size: 40px;

}

.maincopy {
    font-weight: normal;
    font-size: 15px;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: 15%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 15%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    opacity: .7;
}

.col-md-2 {
    float: right;
    padding-top: 11%;

}

.col-md-2.mod {
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.photos {
    margin-right: 5%;
}
.otherhl{
    text-align: center;
    color: #B21919;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
}
.row {
    padding-top: 15px;
}
.title{
    color: #B21919;
    text-transform: uppercase;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}
.text{
    font-family: Helvetica, sans-serif;
}
@media only screen and (min-width: 375px) {
    .bottom-right {
        color: #B21919;
        font-size: 20px;
    }

    .subheadline {
        font-weight: 600;
        font-size: 10px;

    }

    .maincopy {
        font-weight: normal;
        font-size: 7px;
    }

    .vl {
        border-left: 1.5px solid #B21919;
        height: 650px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 250px;
    }

    .col-md-2.mod {
        padding-right: 0px;
        padding-left: 0px;
        position: relative;
        width: 100%;
        min-height: 1px;
    }

    .col-md-2.mod {
        padding-right: 0px;
        padding-left: 0px;
        position: relative;
        width: 15%;
        min-height: 1px;
    }
}



@media only screen and (min-width: 414px) {
    .bottom-right {
        color: #B21919;
        font-size: 30px;
    }

    .subheadline {
        font-weight: 600;
        font-size: 20px;

    }

    .maincopy {
        font-weight: normal;
        font-size: 9px;
    }

    .vl {
        border-left: 3px solid #B21919;
        height: 650px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 250px;
    }

    .col-md-2.mod {
        padding-right: 0px;
        padding-left: 0px;
        position: relative;
        width: 20%;
        min-height: 1px;
    }

}

@media only screen and (min-width: 768px) {
    .bottom-right {
        color: black;
        font-size: 30px;
        bottom: 20px;
        right: 40px;
        font-family: Helvetica, sans-serif;
        color: #B21919;
        font-weight: bold;
        font-size: 80px;
    }

    .subheadline {
        font-weight: 600;
        font-size: 40px;

    }

    .maincopy {
        font-weight: normal;
        font-size: 15px;
    }

    .vl {
        border-left: 5px solid #B21919;
        height: 600px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 400px;
    }

}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }